*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://github.com/agnisH-mandaL/For-Jishnu/blob/main/Picsart_25-01-05_01-23-43-328.jpg?raw=true') no-repeat;
    background-size: cover;
    background-position: center;

}


header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    background-color:transparent;
    display: flex;
    backdrop-filter:blur(20px);
    border: 2px solid rgba(20, 3, 3, 0.2);
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header h2{
    
    text-align:justify;
}

}
.navbar label{
    font-size: 25px;
    margin-left: 30px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}
.navbar label:hover,
.navbar label.active {
    border-color:black;
}
.theme{
    width: 30px;
    height: 30px;
    box-shadow: 0 0 5px white;
    border: none;
    border-radius: 50%;
    cursor:pointer;
    margin-left: 70px;
}
.wrapper{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(20, 3, 3, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    width: 100%;
    height: 40px;
    
    margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color:black;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background-color:lightblue;
    border: black;
    border-radius: 40px;
    box-shadow: 0 0 5px;
    cursor:pointer;
    font-size: 16px;
    color: black;
    font-weight:600;
    transition: 0.3s
}
.btn a{
    color: black;
    text-decoration: none;
}
.btn:hover{
    background-color: transparent;
    box-shadow: black;

}

